body {
  margin: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f5f5f5;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.first_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.6) 2.82%,
      rgba(0, 0, 0, 0) 73.1%
    ),
    url('../assets/fila.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_image {
  width: 20%;
  min-width: 200px;
  max-width: 340px;
  margin-left: 100px;
  margin-top: 70px;
  src: url('../assets/fila_logo.svg');
}

.first_picture_line {
  width: 1px;
  height: 60px;
  background-color: #fff;
  margin-bottom: 40px;
  margin-top: 50px;
}

.text_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  color: #fff;
}

.first_picture_title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.for_your_good_life {
  margin-top: 10px;
  font-size: 18px;
}

.white_title {
  font-size: 18px;
}

.process {
  font-size: 24px;
}

.second_section {
  /* width: 100%; */
  height: 1260px;
  background-size: cover;
  background-image: url('../assets/fila_2.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.symbol {
  width: 82px;
  height: 82px;
  margin-top: 7%;
}

/* 콘텐츠 스타일 */
.content {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty_section {
  height: 650px;
  background-color: #fff;
}

.letter {
  max-width: 70%;
  height: 900px;
  padding: 20px 40px;
  background-color: #fff;
  border: 4px solid #bd945d;
  position: absolute;
  top: 1060px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.36);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.letter_title_emphasis {
  font-size: 26px;
  font-weight: 600;
  line-height: 76.27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #bd945d;
  flex-shrink: 0;
}

.letter_title_text {
  font-size: 22px;
  text-align: center;
  flex-shrink: 0;
  color: #bd945d;
}

.letter_title_line {
  width: 100%;
  height: 1px;
  background-color: #bd945d;
  margin-inline: 20px;
}
.letter_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.letter_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.letter_content_row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
}

.letter_content_emphasis {
  font-size: 24px;
  font-weight: 500;
  flex-shrink: 0;
}

.letter_content_emphasis_orange {
  font-size: 16px;
  font-weight: 700;
  flex-shrink: 0;
  color: #ea7a4a;
}

.letter_content_semi_emphasis {
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
}

.letter_content_text {
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;
  word-break: break-all;
  white-space: normal;
  width: 100%;
}

.third_section {
  padding: 100px 20px;
  background-image: url('../assets/Union.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ea7a4a;
}

.four_section {
  background-color: #fff;
  height: 85vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third_section_picture {
  width: 90%;
  max-width: 600px;
}

@media (max-width: 700px) {
  .letter_content_emphasis {
    font-size: 18px;
  }
  .letter_content_emphasis_orange {
    font-size: 14px;
  }
  .letter_content_semi_emphasis {
    font-size: 14px;
  }
  .letter_content_text {
    font-size: 14px;
  }
}

.five_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.25) 2.82%,
      rgba(0, 0, 0, 0.25) 73.1%
    ),
    url('../assets/five_background_picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.number {
  color: #ea7a4a;
  font-family: Noto Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 84px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.number_text {
  font-family: Noto Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.number_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.center_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.system {
  width: 40%;
  margin-bottom: 120px;
  min-width: 450px;
  max-width: 500px;
}

.worried {
  width: 35%;
  min-width: 450px;
  max-width: 500px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ea7a4a;
  position: relative;
  padding-bottom: 500px;
}

.absolute_movie {
  position: absolute;
  bottom: -200px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.six_picture {
  width: 85%;
  margin-top: 300px;
  max-width: 800px;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  margin-top: 12px;
}

@media (max-width: 750px) {
  .movie {
    padding-bottom: 300px;
  }
  .first_picture_title {
    font-size: 30px;
  }

  .for_your_good_life {
    font-size: 15px;
  }

  .white_title {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .button_container {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 600px) {
  .movie {
    padding-bottom: 280px;
  }
  .absolute_movie {
    bottom: -100px;
  }
  .system {
    min-width: 240px;
  }
  .worried {
    min-width: 200px;
  }
  .six_picture {
    margin-top: 200px;
  }
  .first_picture_title {
    font-size: 24px;
  }

  .for_your_good_life {
    font-size: 15px;
  }

  .white_title {
    font-size: 13px;
  }

  .logo_image {
    margin-left: 30px;
  }
  .process {
    font-size: 18px;
  }
}

.white_text {
  color: #fff;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.radius_button {
  font-family: Noto Sans;
  font-size: 12px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  padding: 4px 8px;
}

.square_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 30px 24px;
  width: 40%;
  border: transparent;
  gap: 8px;
}

.footer_text_bold {
  font-size: 13px;
  font-weight: 700;
  word-break: keep-all;
}

.footer_text {
  font-size: 13px;
}

.footer_copyright {
  font-size: 13px;
  color: #afafaf;
  margin-top: 8px;
}
